section.section-stats-line.section-outer
	.section-inner
		.section-stats-line__content
			.section-stats-line__content-item
				.section-stats-line__content-item_photo
					img(src="img/peoples.png", alt="")
				h2.section-stats-line__content-item_title 3587
				h3.section-stats-line__content-item_subtitle Satisfied clients
			.section-stats-line__content-item
				.section-stats-line__content-item_photo
					img(src="img/coffee.png", alt="")
				h2.section-stats-line__content-item_title 207
				h3.section-stats-line__content-item_subtitle Cups of coffee
			.section-stats-line__content-item
				.section-stats-line__content-item_photo
					img(src="img/comment.png", alt="")
				h2.section-stats-line__content-item_title 2500
				h3.section-stats-line__content-item_subtitle Blog posts
			.section-stats-line__content-item
				.section-stats-line__content-item_photo
					img(src="img/like.png", alt="")
				h2.section-stats-line__content-item_title 873
				h3.section-stats-line__content-item_subtitle Likes
			.section-stats-line__content-item
				.section-stats-line__content-item_photo
					img(src="img/food.png", alt="")
				h2.section-stats-line__content-item_title 900
				h3.section-stats-line__content-item_subtitle We launched
