section.section-footer.section-outer
	.section-inner
		.section-footer__bar
			.section-footer__bar-copyright
				ul.section-footer__bar-copyright_list
					li
						a(href="#") Copyright © 2015 
							span Waxom
					li
						a(href="#") Privacy Policy
					li
						a(href="#") FAQ
					li
						a(href="#") Support
			.section-footer__bar-author
				ul.section-footer__bar-author_list
					li Designed by 
						span ThemeFire
					li Only on 
						span Envato Market