section.section-header.section-outer
	.section-arrow.left
		img(src="img/left-arrow.png", alt="")
	.section-arrow.right
		img(src="img/right-arrow.png", alt="")
	.section-inner
		nav.section-header__nav
			.section-header__nav-logo
				img(src="img/logo.png", alt="")
			ul.section-header__nav-menu
				li
					a(href="#") Home
				li
					a(href="#", class="active") About Us
				li
					a(href="#") Portfolio
				li
					a(href="#") Features
				li
					a(href="#") Blog
				li
					a(href="#") Pricing
				li
					a(href="#") Shortcodes
				li
					a(href="#") Contact
			.section-header__nav-icons
				img(src="img/bucket.png", alt="")
				img(src="img/search.png", alt="")
		.section-header__content
			h2.section-header__content-subtitle Unique and Modern Design
			h1.section-header__content-title Portfolio PSD Template
			p.section-header__content-text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
			.section-header__content-button
				a(href="#", class="btn-main") Get Started
		.section-header__dots
			ul.section-header__dots-list
				li 
				li.active
				li
				li
				li