section.section-purchase-line.section-outer
	.section-inner
		.section-purchase-line__wrapper
			.section-purchase-line__wrapper-article
				h2.section-purchase-line__wrapper-article_title 
					span Waxom 
					| Multipurpose WordPress Theme
				p.section-purchase-line__wrapper-article_subtitle Don't Forget to Rate the Template. Thanks so much!
			.section-purchase-line__wrapper-button
				a(href="", class="btn-main") Purchase now