section.section-promo-line.section-outer
	.section-inner
		.section-promo-line__content
			.section-promo-line__content-item
				.section-promo-line__content-item_icon
					img(src="img/pencil.png", alt="")
				h3.section-promo-line__content-item_title Web and App Design
				p.section-promo-line__content-item_text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
			.section-promo-line__content-item.active
				.section-promo-line__content-item_icon
					img(src="img/pattern.png", alt="")
				h3.section-promo-line__content-item_title Development
				p.section-promo-line__content-item_text Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
			.section-promo-line__content-item
				.section-promo-line__content-item_icon
					img(src="img/option.png", alt="")
				h3.section-promo-line__content-item_title Customization
				p.section-promo-line__content-item_text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
			.section-promo-line__content-item
				.section-promo-line__content-item_icon
					img(src="img/direction.png", alt="")
				h3.section-promo-line__content-item_title Marketing
				p.section-promo-line__content-item_text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.