section.section-mobile.section-outer
	.section-inner
		.section-mobile__wrapper
			.section-mobile__wrapper-photo
				img(src="img/phone.png", alt="")
			.section-mobile__wrapper-article
				.description
					h2.description__title Excellent for Mobile Devices.
					p.description__text Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
				ul.section-mobile__wrapper-article_list
					li Nam liber tempor cum soluta nobis eleifend option;
					li Option congue nihil imperdiet doming id quod mazim placerat facer;
					li Eodem modo typi, qui nunc nobis videntur parum futurum;
					li Investigationes demonstraverunt lectores