section.section-about.section-outer
	.section-inner
		.section-about__content
			.section-about__content-col1.col
				.section-about__content-col1_logo
					img(src="img/logo.png", alt="")
				p.section-about__content-col1_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
				a(href="#", class="section-about__content-col1_more") Read More
			.section-about__content-col2.col
				h2.section-about__content-col2_title Recent Posts
				.section-about__content-col2_post
					h3.section-about__content-col2_post-title September 08, 2015
					p.section-about__content-col2_post-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit
				.section-about__content-col2_post
					h3.section-about__content-col2_post-title September 08, 2015
					p.section-about__content-col2_post-text Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
				.section-about__content-col2_post
					h3.section-about__content-col2_post-title September 08, 2015
					p.section-about__content-col2_post-text Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
			.section-about__content-col3.col
				h2.section-about__content-col3_title Our Twitter
				.section-about__content-col3_post
					h3.section-about__content-col3_post-title 
						span @waxom 
						| Cum soluta nobis eleifend option congue nihil imperdiet doming
					p.section-about__content-col3_post-text 3 mins ago
				.section-about__content-col3_post
					h3.section-about__content-col3_post-title Mirum est 
						span #envato 
						| notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
					p.section-about__content-col3_post-text 5 hours ago
				.section-about__content-col3_post
					h3.section-about__content-col3_post-title Soluta nobis option 
						span bit.ly/1Hniso7
					p.section-about__content-col3_post-text 20 days ago
			.section-about__content-col4.col
				h2.section-about__content-col4_title Dribbble Widget
				.section-about__content-col4_container
					.section-about__content-col4_container-item
						img(src="img/footer-4.png", alt="")
					.section-about__content-col4_container-item
						img(src="img/footer-3.png", alt="")
					.section-about__content-col4_container-item
						img(src="img/footer-2.png", alt="")
					.section-about__content-col4_container-item
						img(src="img/footer-1.png", alt="")