section.section-posts.section-outer
	.section-inner
		.description
			h2.description__title Recent Posts.
			p.description__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
		.section-posts__content
			.section-posts__content-item
				.section-posts__content-item_photo.photo.photo-1
					.section-posts__content-item_photo-date.date
						h4.date-day 30
						h5.date-month Sep.
				.section-posts__content-item_article.article
					h3.section-posts__content-item_article-title Lorem ipsum dolor sit amet
					p.section-posts__content-item_article-text Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
					a(href="#", class="section-posts__content-item_article-link") Read More
			.section-posts__content-item.active
				.section-posts__content-item_photo.photo.photo-2
					.section-posts__content-item_photo-date.date
						h4.date-day 30
						h5.date-month Sep.
				.section-posts__content-item_article.article
					h3.section-posts__content-item_article-title Lorem ipsum dolor sit amet
					p.section-posts__content-item_article-text Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
					a(href="#", class="section-posts__content-item_article-link") Read More
			.section-posts__content-item
				.section-posts__content-item_photo.photo.photo-3
					.section-posts__content-item_photo-date.date
						h4.date-day 30
						h5.date-month Sep.
				.section-posts__content-item_article.article
					h3.section-posts__content-item_article-title Lorem ipsum dolor sit amet
					p.section-posts__content-item_article-text Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
					a(href="#", class="section-posts__content-item_article-link") Read More
		.section-posts__arrows
			.section-posts__arrows-left
			.section-posts__arrows-right