section.section-projects.section-outer
	.section-inner
		.description
			h2.description__title Our Latest Projects.
			p.description__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
		nav.section-projects__nav
			ul.section-projects__nav-menu
				li 
					a(href="#", class="active") All
				li
					a(href="#") Web Design
				li
					a(href="#") Mobile App
				li
					a(href="#") Illustration
				li 
					a(href="#") Photography
		.section-projects__content
			.section-projects__content-item
				.section-projects__content-item_photo
					.section-projects__content-item_photo-container.photo.photo-1
				.section-projects__content-item_article.article
					h3.section-projects__content-item_article-title Claritas Etiam Processus
					p.section-projects__content-item_article-subtitle Photography, Nature
			.section-projects__content-item.active
				.section-projects__content-item_photo
					.section-projects__content-item_photo-container.photo.photo-2
				.section-projects__content-item_article.article
					h3.section-projects__content-item_article-title Quam Nutamus Farum
					p.section-projects__content-item_article-subtitle Graphic Design, Mock-Up
			.section-projects__content-item
				.section-projects__content-item_photo
					.section-projects__content-item_photo-container.photo.photo-3
				.section-projects__content-item_article.article
					h3.section-projects__content-item_article-title Usus Legentis Videntur
					p.section-projects__content-item_article-subtitle Photography, Holiday
			.section-projects__content-item
				.section-projects__content-item_photo
					.section-projects__content-item_photo-container.photo.photo-4
				.section-projects__content-item_article.article
					h3.section-projects__content-item_article-title Claritas Etiam Processus
					p.section-projects__content-item_article-subtitle Photography, Nature
			.section-projects__content-item
				.section-projects__content-item_photo
					.section-projects__content-item_photo-container.photo.photo-5
				.section-projects__content-item_article.article
					h3.section-projects__content-item_article-title Quam Nutamus Farum
					p.section-projects__content-item_article-subtitle Graphic Design, Mock-Up
			.section-projects__content-item
				.section-projects__content-
					.section-projects__content-item_photo-container.photo.photo-6
				.section-projects__content-item_article.article
					h3.section-projects__content-item_article-title Usus Legentis Videntur
					p.section-projects__content-item_article-subtitle Photography, Holiday
		.section-projects__button
			a(href="#", class="btn-main") Load more