block variables 

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}

		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->

		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="css/styles.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto&display=swap" rel="stylesheet")

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->

	body(class=pageClass) <!-- Body page class name -->
		.wrapper
			include ../modules/section-header
			.content
				block content
			include ../modules/section-footer

		<!-- Scripts -->
		block script