extends template/main

block variables
	- var title = 'Waxom';
	- var pageClass = 'index-page';

block content
	include modules/section-promo-line
	include modules/section-demo
	include modules/section-purchase-line
	include modules/section-projects
	include modules/section-video
	include modules/section-mobile
	include modules/section-stats-line
	include modules/section-posts
	include modules/section-partners
	include modules/section-about